<!DOCTYPE html>
<html>
  <style>
    .input-row {
      display: flex;
      align-items: center;
      padding: 10px
    }
    .input-text {
      padding-right: 10px;
    }

    .input-box {
      height: 25px;
    }

    .button {
      color: white;
      background-color: #848A9D;
      padding: 5px 24px
    }

    .overall {
      padding: 10px
    }
    </style>
<body>
<h2>DBS Tech-Track</h2>

<form action="/credentials.php">
  <div class="overall">
    <div class="input-row">
      <label class="input-text" for="custName">Name:</label><br>
      <input class="input-box" type="text" id="custName" name="custName" value="cust1"><br>
    </div>
    <div class="input-row">
      <label class="input-text" for="custAge">Age:</label><br>
      <input class="input-box" type="text" id="custAge" name="custAge" value="Age"><br><br>
    </div>
    <div class="input-row">
      <label class="input-text" for="DOB">Date of birth:</label><br>
      <input class="input-box" type="text" id="DOB" name="DOB" value="DOB"><br><br>
    </div>
    <div class="input-row">
      <label class="input-text" for="serviceOfficerName">Service Officer Name:</label><br>
      <input class="input-box" type="text" id="serviceOfficerName" name="serviceOfficerName" value="serviceOfficerName"><br><br>
    </div>
   
    <div class="input-row">
      <label class="input-text" for="NRIC">NRIC:</label><br>
      <input class="input-box" type="text" id="NRIC" name="NRIC" value="NRIC"><br><br>
    </div>
    <div class="input-row">
      <label class="input-text" for="branchCode">Branch Code:</label><br>
      <input class="input-box" type="text" id="branchCode" name="branchCode" value="branchCode"><br><br>
    </div>
    <div class="input-row">
      <label class="input-text" for="img">Select image:</label><br>
      <input class="input-box" type="file" id="img" name="img" accept="image/*"><br><br>
    </div>
    <div class="input-row">
      <label class="input-text" for="productType">Product Type:</label><br>
      <input class="input-box" type="text" id="productType" name="productType" value="productType"><br><br>
    </div>
    <input class= "button"  type="submit" value="Submit">

  </div>
  
</form>

</body>
</html>